<html>
  <head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" />
    <style>
      * {
        font-family: 'Roboto';
        background-color: #E8E0D6;
      }

      .header {
        background-color: #1C221F;
      }

      .header-item {
        background-color: #203152;
        color: #E8E0D6;
        text-decoration: none;
      }

      .header-item:active {
        background-color: #397EC0;
      }
    </style>
    <title>Goniometer - Dynamic Measurement</title>
    <h1>Goniometer</h1>
    <span class="header">
      <a class="header-item" href="/history">Previous Measurements</a>
      <a class="header-item" href="/">Measure</a>
    </span>
  </head>
  <h1>{{ Name }}</h1>
  <p>Readings</p>
  {% for reading in readings %}
    <li>{{ reading }}</li>
  {% endfor %}
</html>
