<html>
  <head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" />
    <style>
      * {
        font-family: 'Roboto';
      }

      .header {
        background-color: #203152;
        color: #fff;
      }

      .header-item {
        color: #fff;
        padding: 20px 10px;
        text-decoration: none;
      }
    </style>
    <title>Goniometer - Dynamic Measurement</title>
    <div class="header">
      <h1>Goniometer</h1>
      <span>
        <a class="header-item" href="/history">Previous Measurements</a>
        <a class="header-item" href="/">Measure</a>
      </span>
    </div>
  </head>
  <h2>Dynamic Goniometer readings for {{ Name }}</h2>
  <p>Readings</p>
  {% for reading in readings %}
    <li>{{ reading }}</li>
  {% endfor %}
</html>
