<html>
  <head>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <div class="header">
      <h1 class="title">Goniometer</h1>
      <span>
        <a class="header-item" href="/history">Previous Measurements</a>
        <a class="header-item" href="/">Measure</a>
      </span>
    </div>
  </head>
  <div class="content">
    <form method="get" action="measure">
      <span>
        <label for="static" class="container">Static
          <input type="radio" id="static" name="type" value="static">
          <span class="checkmark"></span>
        </label><br>

        <label for="dynamic" class="container">Dynamic
          <input type="radio" id="dynamic" name="type" value="dynamic">
          <span class="checkmark"></span>
        </label><br>
      </span>
      <div>
        <label for="Name">Patient Name</label>
        <input type="text" id="Name" name="Name"/>
      </div>
      <button class="submit-button" type="submit">Measure</button>
    </form>
  </div>
</html>
