<html>
  <head>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto" />
    <style>
      * {
        font-family: 'Roboto';
        background-color: #203152;
      }

      button {
        border: none;
        padding: 15px 32px;
        background-color: #639ECB;
      }
    </style>
    <h1>Goniometer</h1>
    <span class="header">
      <a class="header-item" href="/history">Previous Measurements</a>
      <a class="header-item" href="/">Measure</a>
    </span>
  </head>
  <h1>{{ Name }}</h1>
  <p>{{ reading }} degrees</p>
  <form method="get" action="measure">
    <input type="radio" name="type" id="static" value="static" />
    <input type="text" name="Name" id="Name" value="{{ Name }}" />
    <button type="submit">Record another measurement</button>
  </form>
</html>
