<html>
  <head>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto" />
    <style>
      * {
        font-family: 'Roboto';
      }

      .content {
        background-color: #E8E0D6;
      }

      .header {
        background-color: #203152;
        color: #E8E0D6;
      }

      .header-item {
        color: #E8E0D6;
        padding: 20px 10px;
        text-decoration: none;
      }

      button {
        border: none;
        padding: 15px 32px;
        background-color: #639ECB;
      }
    </style>
    <div class="header">
      <h1>Goniometer</h1>
      <span>
        <a class="header-item" href="/history">Previous Measurements</a>
        <a class="header-item" href="/">Measure</a>
      </span>
    </div>
  </head>
  <div class="content">
    <h2>Static Goniometer reading for {{ Name }}</h2>
    <p>{{ reading }} degrees</p>
    <form method="get" action="measure">
      <input type="radio" name="type" id="static" value="static" />
      <input type="text" name="Name" id="Name" value="{{ Name }}" />
      <button type="submit">Record another measurement</button>
    </form>
  </div>
</html>
